h1{
    text-align: center;
    color: red;
    padding-top: 10px;
}
#hello{
    padding: 20px;
}
.text-size{
    font-size: 20px;
    text-align: justify;
}
#image{
    height: 50%;
    width: 90%;
    padding-left: 30px;
    padding-bottom: 30px;
}